/* global.css */
html, body {
    height: 100%;
    background-color: rgb(24, 26, 27); /* бэкграунд для всех страниц */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: rgb(24, 26, 27); /* хедер для всех страниц */
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }